@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

:root {
    /* Primary */
    --Soft-blue: hsl(215, 52%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    
    /* Neutral */
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--Very-dark-blue-main-BG);
}

main.card {
    width: 310px;
    border-radius: 15px;
    background-color: var(--Very-dark-blue-card-BG);
}

main.card > div.card_images img.equilibrium {
    width: 270px;
    border-radius: 10px;
    margin: 20px 20px 0px 20px;
}

main.card > div.card_images {
    position: relative;
}

div.card_images > img.icon_view {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    width: 35px;
    margin: auto;
    visibility: hidden;
    pointer-events: none; 
}

main.card > section.card_content_top {
    margin: 20px 20px 0px 20px;
    border-bottom: 1px solid var(--Very-dark-blue-line);
}

section.card_content_top > h1 {
    font-size: 20px;
    display: inline-block;
    color: var(--White);
}

section.card_content_top > p {
    opacity: 0.9;
    margin-top: 18px;
    color: var(--Soft-blue);
}

section.card_content_top > section.card_content_low {
    display: flex;
    margin: 20px 0px 20px 0px;
    justify-content: space-between;
}

section.card_content_low > span p {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--White);
}

section.card_content_low > span img {
    margin: 0 7px 0px 0px;
}

section.card_content_low > span.left p {
    font-weight: bold;
    color: var(--Cyan);
}

section.card_content_low > span.right p {
    opacity: 0.9;
    color: var(--Soft-blue);
}

footer.card_footer {
    margin: 15px 20px 25px 20px;
}

footer.card_footer > p img {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px; 
    border: 1px solid var(--White);
}

footer.card_footer > p {
    display: flex;
    align-items: center;
    color: var(--Soft-blue);
}

footer.card_footer > p a {
    color: var(--White);
    text-decoration: none;
    margin-left: 3px;
}

main.card > section.card_content_top h1:hover, footer.card_footer p a:hover {
    cursor: pointer;
    color: var(--Cyan);
}   

main.card > div.card_images img.equilibrium:hover {
    cursor: pointer;
    filter: sepia(1) hue-rotate(135deg) saturate(30);
}

div.card_images > img.equilibrium:hover + img.icon_view {
    opacity: 1;
    visibility: visible;
}